.book-list-loader {
    margin: auto;
    padding-top: calc(100vh / 2 - 12em);
}

.book-list-container {
    width: var(--width-main-content);
    display: flex;
    align-items: flex-start;
}

.sidebar {
    // flex: 0 0 20%;
}

.container {}

.book-list {
    // flex: 2 0 75%;
    padding: 0;
    list-style: outside;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
        flex: 0 0 24%;
        margin: 0;
        padding: 0;
    }
}