.sidebar {

    // font-size: 1.1em;

    .active,
    li {
        color: var(--color-navigation-background);
        font-weight: bold;

        :hover {
            color: var(--color-highlight-text);
        }
    }

    &-list {
        list-style: none;
        padding: 0;
        color: var(--color-navigation-text);

    }
}