.home-page {
    width: var(--width-main-content);

    .category {
        text-transform: uppercase;
    }

    .slick-slider {
        padding: 2em 0;
    }

    .slick-prev,
    .slick-next {}

    .slick-arrow {}

    .slick-prev {}

    .slick-prev:before,
    .slick-next:before {
        color: var(--color-main-text);
    }

    .book-item {
        margin: 0.1em 0.5em;
        padding: 1em 2em 0.5em 2em;
        height: 24em;

        .book-cover {
            height: 15em;
            width: 10em;
        }
    }
}