.home-page {
    width: var(--width-main-content);
    // border: 2px solid green;

    .category {
        text-transform: uppercase;
    }

    .slick-slider {
        padding: 2em 0;
        margin: 0 auto;
        width: 90%;
    }

    .slick-prev,
    .slick-next {}

    .slick-arrow {}

    .slick-prev {}

    .slick-prev:before,
    .slick-next:before {
        color: var(--color-main-text);
    }

    .slick-slide {

        .book-item {
            margin: 1em 0.5em;
        }

        .book-item:nth-child(1),
        .book-item:last-child {
            // margin-left: 0em;
        }
    }
}