:root {
    --default-font-family: 'PT Sans';

    --font-size-body-normal: 12px;
    --font-size-body-large: 14px;
    --font-size-body-Large: 16px;
    --font-size-body-LARGE: 18px;

    --width-main-content: 60vw;

    --border-form-radius: 0.2em;
    --border-form-width: 2px;

    --color-navigation-text: #eeeeee;
    --color-navigation-background: rgb(15, 76, 129);

    --color-main-text: rgb(15, 76, 129);
    --color-main-background: #eeeeee;

    --color-donut-border-dark: rgba(15, 76, 129, 0.5);
    --color-donut-border-light: rgba(15, 76, 129, 0.25);

    --color-comment-text: rgb(15, 76, 129);
    --color-comment-background: rgba(15, 76, 129, 0.2);

    --color-logo-hover: rgb(97, 218, 251);

    --color-highlight-text: rgb(192, 64, 0);

    // --color-button-text: rgb(15, 76, 129);
    // --color-button-background: rgb(255, 255, 255);


    // --color-body-bg: rgb(255, 255, 255);
    // --color-gradient: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

    // --color-header-text: rgb(255, 255, 255);
    // --color-header-bg: rgb(0, 0, 0);
    // --color-nav-text: rgb(0, 0, 0);
    // --color-nav-bg: rgba(255, 255, 255);

    // --color-body-text: rgb(0, 0, 0);
    // --color-body-text-secondary: #693;
    // --color-link-main: rgb(51, 102, 153);
    // --color-link-hover: rgb(153, 0, 0);

    // --color-border-main: rgb(10, 50, 90);
    // --color-border-outer: #bbb;
    // --color-border-inner: #ddd;
}