.cart-header {
    text-align: center;
}

.cart-list {
    width: var(--width-main-content);
    margin-bottom: 3em;
    text-align: left;

    border-collapse: collapse;

    .form-button {
        font-size: 0.8em;
        margin-left: auto;
    }

    th {
        font-weight: bold;
        font-size: 1.5em;
    }

    // td {
    //     border: 1px solid red;
    //     // padding: 1em 2em;
    // }
}

.total-price-wrapper {
    padding: 2em 0em;
    text-align: right;
    margin: auto;
    display: flex;
    align-items: center;

    .total-price {
        padding-left: 1em;
        font-size: 1.5em;
        font-weight: bold;

    }

    .form-button {
        margin-left: auto;
    }
}

.cart-link {
    font-weight: bold;
}

.cart-link:hover {
    text-decoration: underline;
    color: var(--color-donut-border-dark);
}

.cart-wrapper {
    width: var(--width-main-content);
    background-color: green;

    .header {
        font-size: 1.2em;
        background: purple !important;
    }

    .data-row {
        background: red;
    }
}