.profile-wrapper {
    width: var(--width-main-content);

    .personal-info,
    .orders-info,
    .comments-info {
        margin-bottom: 2em;
    }
}

.tabs {
    margin: auto;
    flex-wrap: wrap;
    display: flex;
}

.input {
    position: absolute;
    opacity: 0;
}

.ilabel {
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    color: var(--color-navigation-text);
    background: var(--color-donut-border-dark);
    transition: background 0.1s, color 0.1s;
    position: relative;

    .label {
        padding: 1em 2em;
        line-height: 3em;
        user-select: none;
    }
}

.ilabel:hover {
    background: var(--color-donut-border-darker);

    // &,
    .label:hover {
        cursor: pointer;
    }
}

.input:checked+.ilabel {
    background: var(--color-main-text);
    color: var(--color-main-background);
}

.panel {
    width: 100%;
    display: none;
    padding: 1em 0em;
}

.input:checked+.ilabel+.panel {
    display: block;
}

@media (min-width: 600px) {
    .ilabel {
        width: auto;
    }

    .panel {
        order: 99;
    }
}

.triangle {
    height: 0;
    width: 0;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-top: 0.5em solid var(--color-main-text);
    margin: auto;

    position: absolute;
    bottom: -0.5em;
    left: 2em;
    display: none;
}

.input:checked+.ilabel .triangle {
    display: block;
}