.book-data {
    // border: 2px solid green;
    width: var(--width-main-content);
}

.book-details {
    display: flex;
}

.book-comments {}

.book-comment-form {
    // border: 2px solid purple;
    display: flex;
    flex-direction: column;
    padding: 2em 0 3em 0;

    .comment-area {
        margin-bottom: 1em;
        padding: 0.5em;
        border: none;
        outline: none;
        resize: none;
        width: 100%;
        // border: 2px solid var(--color-donut-border-dark);
        background: var(--color-comment-background);
    }

    .comment-button {
        margin-left: auto;
        width: fit-content;
    }
}