.book-data {
    border: 2px solid green;
    width: var(--width-main-content);
}

.book-details {
    display: flex;
}

.book-comments {
    .comments-list {
        list-style: none;
        list-style-position: outside;
        margin: 0;
        padding: 0;
    }

    .comment-item {
        display: flex;
        margin: 1em 0em;
        padding: 0;
        background: var(--color-comment-background);
    }

    .comment-meta {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding: 0 1em;
    }

    .comment-time,
    .comment-author {
        font-size: 0.9em;
        font-style: italic;
    }

    .comment-content {
        // font-weight: bold;
        flex-grow: 1;
        padding: 0.5em;
        min-height: 4em;
        background: var(--color-comment-background);
    }
}

.book-comment-form {
    // border: 2px solid purple;
    display: flex;
    flex-direction: column;

    .comment-area {
        margin-bottom: 1em;
        padding: 0.5em;
        border: none;
        outline: none;
        resize: none;
        width: 100%;
        // border: 2px solid var(--color-donut-border-dark);
        background: var(--color-comment-background);
    }

    .comment-button {
        margin-left: auto;
        width: fit-content;
    }
}