.header-nav {
    display: flex;
    flex-direction: column;

    .first-row,
    .major-nav-list,
    .second-row,
    .minor-nav-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .major-nav-list,
    .minor-nav-list {
        margin: 0;
        padding: 0;
        list-style: outside;
        list-style-type: none;

        li:hover {
            // color: #61DAFB;
            text-decoration: underline;
        }
    }

    .first-row {
        padding: 1em 0;
    }

    .link-logo {
        .logo {
            margin: 0;
            padding: 0;
            font-size: 2em;
            font-weight: bold;
        }

        .logo:hover {
            color: #61DAFB;
        }
    }

    .major-nav-list li {
        padding-left: 2em;
    }

    .second-row {
        background: rgba(255, 255, 255, 0.4);
    }


    .minor-nav-list {
        display: flex;
        padding: 0.5em 0;

        li {
            padding-right: 2em;
        }
    }

    // .active {
    //     font-weight: bold;
    //     text-decoration: underline;
    // }
}