.header-nav {
    display: flex;
    flex-direction: column;

    .first-row,
    .major-nav-list,
    .second-row,
    .minor-nav-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .major-nav-list,
    .minor-nav-list {
        margin: 0;
        padding: 0;
        list-style: outside;
        list-style-type: none;

        li:hover {
            // color: #61DAFB;
            text-decoration: underline;
        }
    }

    .first-row {
        padding: 0.5em 0em 0.5em 0;
    }

    .link-logo {
        .logo {
            margin: 0;
            padding: 0;
            font-size: 2em;
            font-weight: bold;
        }

        .logo:hover {
            color: var(--color-logo-hover);
        }
    }

    .major-nav-list li {
        padding-left: 2em;
    }

    .second-row {
        // background: rgba(255, 255, 255, 0.4);
        padding-bottom: 1em;
    }


    .minor-nav-list {
        display: flex;
        padding: 0em 0em 0.5em 0;

        li {
            padding-right: 2em;
        }
    }

    .fa-shopping-cart {
        position: relative;
        font-size: 2em;

        .cart-size {
            position: absolute;
            padding: 0.2em 0.4em;
            border-radius: 50%;
            font-size: 0.4em;
            background: var(--color-highlight-text);
            top: -7px;
            right: -5px;
        }

    }

    // .active {
    //     font-weight: bold;
    //     text-decoration: underline;
    // }
}