.not-found {
    // width: var(--width-main-content);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;

    h1,
    p {
        margin: 0;
        padding: 0;
    }

    .left,
    .right {
        color: hsl(0, 50%, 50%);
        font-size: 2em;
        flex-grow: 1;
    }

    .left {
        // border: 1px solid green;
    }

    .right {
        // border: 1px solid green;
    }

    .middle {
        flex: 1 0 100%;

        // font-size: 1em;
        p {
            font-size: 1.2em;

        }
    }
}