.form-button {
    display: block;
    margin: 1em 0 2em 0;
    padding: 0.6em;
    border: 2px solid var(--color-main-text);
    border-radius: var(--border-form-radius);
    outline: none;
    color: var(--color-main-text);
    background-color: var(--color-main-background);
    font-size: 1em;
    font-weight: bold;
    transition: color 0.2s, background-color 0.2s;

    &:hover {
        color: var(--color-main-background);
        background-color: var(--color-main-text);
        cursor: pointer;
    }

    &.edit-profile,
    &.change-password,
    &.apply,
    &.cancel {
        display: inline !important;
    }

    &.edit-profile,
    &.apply {
        margin-right: 0.5em;
    }

    &.book-table {
        padding: 0;
        margin: calc(0.6em + 2px) 0.5em;

        border: none;
        background: none;


        &:hover {
            background: none;
            color: var(--color-highlight-text);
        }

        &:disabled {
            color: var(--color-donut-border-light);
        }

        &:disabled:hover {
            cursor: default;
        }

    }
}