:root {
    --default-font-family: 'PT Sans';

    --font-size-body-normal: 12px;
    --font-size-body-large: 14px;
    --font-size-body-Large: 16px;
    --font-size-body-LARGE: 18px;

    --width-main-content: 60vw;

    @media (max-width: 768px) {

        --width-main-content: 90vw;
    }

    --border-form-radius: 0.2em;
    --border-form-width: 2px;

    --color-navigation-text: #eeeeee;
    --color-navigation-background: rgb(15, 76, 129);

    --color-main-text: rgb(15, 76, 129);
    --color-main-background: #eeeeee;

    --color-donut-border-light: rgba(15, 76, 129, 0.25);
    --color-donut-border-dark: rgba(15, 76, 129, 0.5);
    --color-donut-border-darker: rgba(15, 76, 129, 0.75);

    --color-comment-text: rgb(15, 76, 129);
    --color-comment-background: rgba(15, 76, 129, 0.2);

    --color-logo-hover: rgb(97, 218, 251);

    --color-highlight-text: rgb(192, 64, 0);
    --color-highlight-text-alpha: rgba(192, 64, 0, 0.5);
}